#emoji-btn{
    flex: 1;
    font-size: 7.8rem;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    filter: grayscale(1);
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
    transition: 0.3s ease;
    text-decoration: none;
    border: transparent;
}

#emoji-btn:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}